body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-card {
    max-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.icon {
    background-color: #3498db;
    padding: 20px;
    text-align: center;
}

.icon img {
    width: 50px;
    height: 50px;
}

.card-details {
    padding: 20px;
    flex: 1;
}

.card-details h2 {
    color: #333;
    margin-bottom: 10px;
}

.card-details p {
    color: #666;
    margin-bottom: 20px;
}

.button {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980b9;
}
