body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.main-header {
    background-color: #007d9c;
    color: #fff;
    padding: 20px;
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #ffcc00;
}

.dropdown-menu {
    background-color: #007d9c;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #006080;
}
